@CHARSET "ISO-8859-1";

.fields
{
	background-color:rgba(0, 0, 0, 0);
	color:black;
	border: none;
	outline:none;
	height:25px;
	transition:height 1s;
	-webkit-transition:height 1s;
	margin-bottom:4px;
}

select
{
	border:none;
	margin-botom:4px;
}

#user-bets
{
	width:100%;
}